* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-section,
  .registration-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .registration-section {
    display: none;
  }
  
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .forgot-password,
  .already-have-account {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
  }
  
  .forgot-password:hover,
  .already-have-account:hover {
    text-decoration: underline;
  }
  